body{
    margin:0;
    padding: 0;
    background-color: #FBF2EF;
    display: flex;
    flex-direction: column;
    
}
/* 메인 로고 */
.logo-box{
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    margin-top: 15px;
    
}
.logo-box h3{
    color: lightslategray;
    font-size: 30px;
}

/* 메뉴 */
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu-bar{
    margin-left: 17%;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FBF2EF;
}
ul:after{
    content:'';
    display: block;
    clear:both;
}

.menu a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.home a:hover {
    background-color: #F6D8CE;
}
.menu a:hover {
    background-color: #F8ECE0;
}
.home a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu-last{
    margin-right: 18%;
}
.menu-user{
    justify-self: flex-end;
}
.menu-user a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu-last a:hover {
    background-color: #F8ECE0;
}
/* 메인 이미지  */
.image-container{
    display: flex;	
    width: 100%;	
    height: 400px;	
    justify-content: center;
    background-color: #FBF2EF;
    
}
.image-view{
    width: 60%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.image-view input{	
    display: none;	
}
.slide{	
    width: 100%;
    height: 100%;	
    transition: 2s;	
    
}
.slide img{
    width: 980px;
    height: 100%;
    min-width: 500px;
    
}

.navigation-manual{	
    position: absolute;	
    width: 1000px;	
    margin-top: -40px;	
    display: flex;	
    justify-content: center;  	
}	
.manual-btn{	
    display: none
}	
.manual-btn:not(:last-child){	
    margin-right: 40px;	
}	
.manual-btn:hover{	
    background: #40D3DC;	
}	
#radio1:checked ~ .first{	
    margin-left: 0;	
}	
#radio2:checked ~ .first{	
    margin-left: -100%;	
}	
#radio3:checked ~ .first{	
    margin-left: -200%;	
}

/* 상품 리스트 */
.best-item{
    background-color: #FBF2EF; 
    height: 50px; 
}

.best-item span{
    font-size: 18px;
    font-style: italic;
    font-weight: 900;
    color: #F5A9A9;
    margin-left: 15%;
}
.item-container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: #FBF2EF;
}
.item-list{
    width: 70%;
    display: flex; 
    
}
.item-list ul{
    width: 100%;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #FBF2EF;
}
.item-list li{
    width: 200px;
    cursor: pointer;
    background-color: #FBF8EF;
}

.item{
    border: 1px solid 
    width: 100%;
    height: 350px;
    
}
.item-img{
    width: 100%;
    height: 220px;
    
}
.item-img img{
    display : block;
    margin : auto;
    margin-top: 20px;
    width: 80%;
    height: 100%;
    
}
.item span{
    font-weight: bold;
}
.brand{
    font-size: 10px;
    color: gray;
    height: 20;
    margin-left: 10px;
}
.item-info {
    font-size: 12px;
    margin: 10px 10px; 
}
.item-info #info{
      
    font-size: 15px;
     
}
.item-info #price{
    font-size: 15px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
/* footer*/
.footer-container{
    width: 100%;
    height: 250px;
    border-top :  2px solid #F6D8CE;
    display: flex;
    position: fixed;
    left: 0; width: 100%; bottom:0;
    
}
.footer-1{
    width:75%;
}
.company{
    margin-top: 15px;
    margin-left: 15%;
    font-size: 13px;
    color: gray;
}
.company span{
    color: #585858;
    font-size: 17px;
    font-weight: 800;
}
.footer-info{
    width:70%;
    margin-left: 15%;
    margin-top: 5%;
    font-size: 10px;
    color: gray;
}
.number{
    height: 30%;
    margin-top: 40px;
    font-size: 12px;
    color: gray;
}
.number #customer{
    height: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #585858;
}
.number span{
    color: red;
}
.footer-2{
    margin-right: 20px;
}
.number-2{
    margin-top: 20px;
    font-size: 12px;
    color: gray;
}
.number-2 span{
    font-size: 15px;
    font-weight: 700;
    color:#585858;
}



