body{
    margin:0;
    padding: 0; 
}
/* 메인 로고 */
.logo-box{
    display: flex;
    justify-content: center;
    height: 60px;
}
.logo-box h3{
    color: lightslategray;
    font-size: 30px;
}
/* 메뉴 */
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu-bar{
    margin-left: 17%;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}
ul:after{
    content:'';
    display: block;
    clear:both;
}
.menu a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.home a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu-last{
    margin-right: 18%;
}
.menu-user{
    justify-self: flex-end;
}
.menu-user a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* 메인 이미지  */
.image-container{
    display: flex;	
    width: 100%;	
    height: 400px;	
    justify-content: center;
}
.image-view{
    width: 60%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}
.image-view input{	
    display: none;	
}
.slide{	
    width: 100%;
    height: 100%;	
    transition: 2s;	
    margin-left: 20px;
}
.slide img{
     
}
.navigation-manual{	
    position: absolute;	
    width: 1000px;	
    margin-top: -40px;	
    display: flex;	
    justify-content: center;  	
}	
.manual-btn{	
    display: none
}	
.manual-btn:not(:last-child){	
    margin-right: 40px;	
}	
.manual-btn:hover{	
    background: #40D3DC;	
}	
#radio1:checked ~ .first{	
    margin-left: 0;	
}	
#radio2:checked ~ .first{	
    margin-left: -103%;	
}	
#radio3:checked ~ .first{	
    margin-left: -210%;	
}

/* 상품 리스트 */
.item-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.item-list{
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item{
    border: 1px solid gold;
    width: 20%;
    height: 350px;
}
.item-img{
    width: 100%;
    height: 220px;
    
}
.item-img img{
    display : block;
    margin : auto;
    margin-top: 20px;
    width: 80%;
    height: 100%;
}
.item span{
    font-weight: bold;
}
.brand{
    height: 20;
}
.item-info #info{
    font-size: 5px;
}
.item-info #price{
    font-size: 15px;
}

