body{
    margin:0;
    padding: 0;
    
}
.logo-box{
    display: flex;
    justify-content: center;
    height: 60px;
}
.logo-box h3{
    color: lightslategray;
    font-size: 30px;
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu-bar{
    margin-left: 17%;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}
ul:after{
    content:'';
    display: block;
    clear:both;
}

.menu a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.home a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu-user{
    justify-self: flex-end;
}
.menu-user a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
